{#
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
#}

{% extends "@niysuAdminSite/main.adminsite.htm" %}

{% block head %}
	<style type="text/css">
		.mainPanel {
			display:inline-block;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			padding:1em;
			margin-left:10px;
			vertical-align:top;
			width:460px;
		}

		.mainPanel > *:first-child {
			margin-top:0;
		}

		.mainPanel > *:last-child {
			margin-bottom:0;
		}

		.routesList dd {
			font-size:80%;
			margin-top:0.2em;
			margin-bottom:1em;
		}
	</style>
{% endblock %}


{% block body %}
	<section class="mainPanel">
		<h2>List of routes</h2>

		<dl class="routesList">
			{% for route in routes %}
				<dt>{{ route.name ? route.name : route.route }}</dt>
				<dd>
					<strong>Name: </strong>{{ route.name }}{% if route.name == false %}<em>no name</em>{% endif %}<br />
					<strong>Regex: </strong>{{ route.regex }}
				</dd>
			{% endfor %}
		</dl>
	</section>

	<section class="mainPanel">
		<h2>Maintenance mode</h2>

		<p>Maintenance: {{ maintenanceMode ? 'Yes' : 'No' }}</p>
		<p><button >Set maintenance mode</button><br />
			<button >Clear maintenance mode</button></p>
	</section>
{% endblock %}
