{#
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
#}
<!DOCTYPE html>
<html>
<head>
	<title>Niysu admin site</title>

	<link rel="stylesheet" href="{{ path('Niysu\\AdminSite\\AdminSite', { 'file': 'main.css' }) }}" />
	<script type="text/javascript" src="{{ path('Niysu\\AdminSite\\AdminSite', { 'file': 'jquery-1.8.3.min.js' }) }}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>

	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div>
			<h1>Niysu administration panel</h1>

		</div>
	</header>
	<nav>
		<ul>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::mainPanel') }}">Home</a></li>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::ajaxTestPanel') }}">Ajax tester</a></li>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::databasePanel') }}">Database</a></li>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::routesList') }}">Routes</a></li>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::gitPanel') }}">Git</a></li>
			<li><a href="{{ path('Niysu\\AdminSite\\AdminSite::xhProfPanel') }}">XHProf</a></li>
		</ul>
	</nav>
	<section>
		<div>
			{% block body %}{% endblock %}
		</div>
	</section>
</body>
</html>
