{#
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
#}
<!DOCTYPE html>
<html>
<head>
	<title>Niysu admin site</title>

	<link rel="stylesheet" href="/admin/main.css" />
	<script type="text/javascript" src="/admin/jquery-1.8.3.min.js"></script>

	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div>
			<h1>Niysu administration panel</h1>

		</div>
	</header>
	<nav>
		<ul>
			<li><a href="/admin">Home</a></li>
			<li><a href="/admin/ajax-test">Ajax tester</a></li>
			<li><a href="/admin/database">Database</a></li>
			<!--<li><a href="/admin/xdebug">XDebug Profiling</a></li>-->
			<li><a href="/admin/xhprof">XHProf</a></li>
		</ul>
	</nav>
	<section>
		<div>
			{% block body %}{% endblock %}
		</div>
	</section>
</body>
</html>
