{#
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
#}

{% extends "@niysuAdminSite/main.htm" %}

{% block body %}
	<h2>XDebug profiling</h2>

	{% if xdebugInstalled == false %}
		<p><strong>You must have the XDebug extension installed in order to use profiling.</strong></p>

	{% else %}
		<p>
			Value of xdebug.profiler_enable: {{ xdebugProfilerEnable }}<br />
			Value of xdebug.profiler_enable_trigger: {{ xdebugProfilerEnableTrigger }}<br />
			Server software: {{ serverSoftware }}
		</p>

		<p>
			{% if xdebugProfilerEnable == 0 and xdebugProfilerEnableTrigger == 1 and serverSoftwareOk %}
				<em>Everything ok!</em>
			{% else %}
				<strong>You cannot use xdebug profiling.</strong><br />
				{% if xdebugProfilerEnable != 0 %}xdebug.profiler_enable must be set to 0<br />{% endif %}
				{% if xdebugProfilerEnableTrigger != 1 %}xdebug.profiler_enable_trigger must be set to 1<br />{% endif %}
				{% if serverSoftwareOk == false %}You can't use this feature on the PHP dev server, because this server can't handle nested requests{% endif %}
			{% endif %}
		</p>

		{% if xdebugProfilerEnable == 0 and xdebugProfilerEnableTrigger == 1 and serverSoftwareOk %}
			<h3>Profiling</h3>
			<form action="xdebug-start" method="post">
				<p>URL to test:<br /><input style="min-width:25em;" type="text" name="url" placeholder="Local URL to test" /></p>
				<p><button type="submit">Start profiling</button></p>
			</form>
		{% endif %}

	{% endif %}
{% endblock %}
