{#
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
#}

{% extends "@niysuAdminSite/main.htm" %}

{% block body %}
	<h2>XDebug profiling</h2>

	{% if xdebugInstalled == false %}
		<p><strong>You must have the XDebug extension installed in order to use profiling.</strong></p>

	{% else %}
		<p>
			Value of xdebug.profiler_enable: {{ xdebugProfilerEnable }}<br />
			Value of xdebug.profiler_enable_trigger: {{ xdebugProfilerEnableTrigger }}<br />
			Server software: {{ serverSoftware }}<br />
			XDebugProfilingFilter: {{ filterOk ? 'detected' : 'not detected' }}
		</p>

		<p>
			{% if xdebugProfilerEnable == 0 and xdebugProfilerEnableTrigger != 0 and serverSoftwareOk and filterOk %}
				<em>Everything ok!</em>
			{% else %}
				<strong>You cannot use xdebug profiling.</strong>
				<ul>
					{% if xdebugProfilerEnable != 0 %}<li>xdebug.profiler_enable must be set to 0 in php.ini</li>{% endif %}
					{% if xdebugProfilerEnableTrigger != 1 %}<li>xdebug.profiler_enable_trigger must be set to 1 in php.ini</li>{% endif %}
					{% if serverSoftwareOk == false %}<li>You can't use this feature on the PHP dev server, because this server can't handle nested requests</li>{% endif %}
					{% if filterOk == false %}
						<li>You must enable the XDebugProfilingFilter. Add this code to your configuration:<br />
						<textarea cols="90" readonly>$server->setFilterProvider('xdebugProfiling', 'Niysu\\AdminSite\\XDebugProfilingFilter');
$server->before(function($xdebugProfilingFilter) {});</textarea></li>
					{% endif %}
				</ul>
			{% endif %}
		</p>

		{% if xdebugProfilerEnable == 0 and xdebugProfilerEnableTrigger == 1 and serverSoftwareOk and filterOk %}
			<h3>Profiling</h3>
			<form action="xdebug-start" method="post">
				<p>URL to test:<br /><input style="min-width:25em;" type="text" name="url" placeholder="Local URL to test" /></p>
				<p><button type="submit">Start profiling</button></p>
			</form>
		{% endif %}

	{% endif %}
{% endblock %}
