{% extends "main.adminsite.htm" %}

{% block body %}
<!--
	Copyright 2012 Pierre Krieger

	This code is under MIT license. See the LICENSE file.
-->


	<section class="mainPanel">
		<h2>List of routes</h2>

		<dl>
			{% for route in routes %}
				<dt>{{ route.name ? route.name : route.route }}</dt>
				<dd>test</dd>
			{% endfor %}
		</dl>
	</section>

	<section class="mainPanel">
		<h2>Maintenance mode</h2>

		Maintenance: {{ isMaintenanceMode }}

		<button >Set maintenance mode</button>
		<button >Clear maintenance mode</button>
	</section>
{% endblock %}
