<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}Niysu</title>

  <script type="text/javascript" src="shighlighter/shCore.js"></script>
  <script type="text/javascript" src="shighlighter/shBrushPhp.js"></script>
  <link href="shighlighter/shCore.css" rel="stylesheet" type="text/css" />
  <link href="shighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/niysu/style.css" />
</head>
<body>
  <header>
    <h1>Niysu</h1>

    <nav id="mainMenu">
      <ul>
        <li>Documentation</li>
        <li><a href="/niysu/doc">API</a></li>
      </ul>
    </nav>
  </header>

  {{ content }}

  <footer>
  </footer>

  <script type="text/javascript">
    SyntaxHighlighter.all()
  </script>
</body>
</html>
