<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}Niysu</title>

  <script type="text/javascript" src="/niysu/shighlighter/shCore.js"></script>
  <script type="text/javascript" src="/niysu/shighlighter/shBrushBash.js"></script>
  <script type="text/javascript" src="/niysu/shighlighter/shBrushJScript.js"></script>
  <script type="text/javascript" src="/niysu/shighlighter/shBrushPhp.js"></script>
  <link href="/niysu/shighlighter/shCore.css" rel="stylesheet" type="text/css" />
  <link href="/niysu/shighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/niysu/style.css" />
</head>
<body>
  <header>
    <h1>Niysu</h1>

    <nav id="mainMenu">
      <ul>
        <li><a href="/niysu/usage">Manual</a></li>
        <li><a href="/niysu/doc">Documentation</a></li>
      </ul>
    </nav>
  </header>

  <div id="outsideContent">
    {{ content }}
  </div>

  <footer>
  </footer>

  <script type="text/javascript">
    SyntaxHighlighter.all()
  </script>
</body>
</html>
