---
layout: default
---

<section>
	<nav id="usageTableOfContent">
		<ol>
			<li><a href="/niysu/usage/installation">Installation</a></li>
			<li><a href="/niysu/usage/getting-started">Getting started</a></li>
			<li><a href="/niysu/usage/services">Services, contexts, filters, inputs and outputs</a></li>
			<li><a href="/niysu/usage/database">Database</a></li>
			<li><a href="/niysu/usage/handling-errors">Handling errors</a></li>
			<li><a href="/niysu/usage/cookies">Cookies</a></li>
			<li><a href="/niysu/usage/maintenance">Maintenance mode</a></li>
		</ol>
	</nav>

	{{ content }}

</section>
