---
layout: default
---

<section>
	<nav id="usageTableOfContent">
		<ul>
			<li><a href="/niysu/usage/01-installation">1 - Installation</a></li>
			<li><a href="/niysu/usage/02-getting-started">2 - Getting started</a></li>
			<li><a href="/niysu/usage/03-services">3 - Services, contexts, filters, inputs and outputs</a></li>
			<li><a href="/niysu/usage/04-database">4 - Database</a></li>
			<li><a href="/niysu/usage/05-handling-errors">5 - Handling errors</a></li>
			<li><a href="/niysu/usage/06-cookies">6 - Cookies</a></li>
			<li><a href="/niysu/usage/07-maintenance">7 - Maintenance mode</a></li>
		</ul>
	</nav>

	{{ content }}

</section>
